<div class="row">
	<div id="map" class="col-xs-12 col-md-8 col-md-offset-2" style=' height: 40vh;  margin-top: 20px;''></div>
</div>
<script>
	var handler = Gmaps.build('Google');
	handler.buildMap({ internal: {id: 'map'}}, function(){
		var markers = handler.addMarkers(<%=raw hash.to_json %>);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
		handler.getMap().setZoom(18);

	});
</script>