<h4>Un usuario requiere soporte por chat</h4>
<br><br>
<%= link_to(
		'Ingresa aqui para entrar al chat_room',chat_room_url(@chat_room, host:'http://www.drinkscity.cl'),
		class:"btn btn-default btn-info"
	)
%>